JWT_SECRET=define-un-secreto-largo
MONGO_URI=mongodb+srv://<usuario>:<password>@<nombre_cluster>.mongodb.net/proyecto-seguridad?retryWrites=true&w=majority&appName=Cluster0
# Puerto en el que corre el servidor
PORT=3000
#NODE_ENV=development
#FRONTEND_URL_DEV=http://localhost:5173
#FRONTEND_URL_PROD=https://tu-dominio-real.com